<%# add navigation links to this file %>
<li><%= link_to 'Section', section_templates_path %></li>
<li><%= link_to 'Ad', ad_templates_path %></li>
<li><%= link_to 'Blog', page_path('blog') %></li>
<li><%= link_to 'Guide', page_path('quide') %></li>
